a {
    text-decoration: none !important;
}

.content div, .content p{
    color: #555 !important;
    font-size: 17px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.blog_details p {
    margin-bottom: 20px !important;
}

.summary-content img {
    display: none;
}

.section-padding {
    padding: 85px 0;
}

.section-padding2 {
    padding: 185px 0;
}

.modal-open {
    overflow: hidden !important;
}

#mixedSlider {
    position: relative;
    overflow-x: hidden;
}
#mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
}
#mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
}
@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }
}
@media (max-width: 767px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }
}
#mixedSlider .MS-content .item .imgTitle {
    position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 1px;
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    color: white;
    display: flex;
    align-items: flex-end;
    height: 30px;
    width: 100%;
    bottom: 0;
    font-weight: 500;
    padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
    height: 180px;
    width: 100%;
}
#mixedSlider .MS-content .item .contentTitle {
    font-weight: 600;
    font-size: 25px;
    margin: 25px 0 10px;
}
#mixedSlider .MS-content .item p {
    font-size: 14px;
    /* margin: 2px 10px 0 5px; */
    /* text-indent: 15px; */
}
#mixedSlider .MS-content .item a.read-more {
    float: right;
    margin: 10px 20px 0 0;
    font-style: italic;
    letter-spacing: 1px;
    transition: linear 0.1s;
    color: #ff2020;
    font-size: 18px;
    font-weight: 500;
}
#mixedSlider .MS-content .item a.read-more:hover {
    text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
    #mixedSlider .MS-controls button {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    #mixedSlider .MS-controls button {
        font-size: 20px;
    }
}
#mixedSlider .MS-controls .MS-left {
    left: 0px;
}
@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
        left: -10px;
    }
}
#mixedSlider .MS-controls .MS-right {
    right: 0px;
}
@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
        right: -10px;
    }
}
#basicSlider {
    position: relative;
}

#basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
}

#basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
}
@media (max-width: 991px) {
    #basicSlider .MS-content .item {
        width: 25%;
    }
}
@media (max-width: 767px) {
    #basicSlider .MS-content .item {
        width: 35%;
    }
}
@media (max-width: 500px) {
    #basicSlider .MS-content .item {
        width: 50%;
    }
}

#basicSlider .MS-content .item a.read-more {
    line-height: 50px;
    vertical-align: middle;
}

#basicSlider .MS-controls button {
    position: absolute;
}

#basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
}

#basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
}
